body {
    background: rgb(211, 151, 0);
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}
.card{
    background: #fdfdfd;
    border-radius: 4px;
    height: 85vh;
    width: 80vh;
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
}
.card * {
    transition: all 0.2s ease-in-out;
}

@media only screen and  (min-width: 1000px) {
    .card {
        flex-direction: row-reverse;
        
    }
    .card img.birthday {

        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }
}
    @media only screen and  (min-height: 640px) {
        .card {
            flex-direction: row-reverse;
            
        }
        .card img.birthday {
    
            width: 100%;
            max-width: 50vw;
            max-height: unset;
        }
    }
img.birthday {
    max-height: 35vh;
}
.text {
    padding: 1em;
}
muted {
    opacity: 0.8;
}
.space {
    height: 100px;
}
.button {
    position: relative;
    text-align: center;
    width: 250px;
    padding: 40px;
    font-size: 35px;
    color: #15f4ee;

}

